<div class='options'>
	{#each options as text }
	<Option {text} selected={isSelected(text)} on:select='select(text)' />
	{/each}
</div>

<script>
  export default {
    components: {
      Option: "./Option.html"
    },
    data() {
      return {
        selectedOption: undefined
      };
    },
    computed: {
      isSelected: ({ selectedOption }) => option => option === selectedOption
    },
    methods: {
      select(option) {
        this.set({ selectedOption: option });
        this.fire("select", option);
      }
    }
  };
</script>


<style>
  .options {
    display: flex;
    flex-direction: column;
  }
</style>
