<div class='options'>
	  {#each options as text }
	   <div class='option' class:selected='isSelected(text)' on:click='select(text)'>{text}</div>
	  {/each}
</div>

<script>
  export default {
    data() {
      return {
        selectedOption: undefined
      };
    },
    computed: {
      isSelected: ({ selectedOption }) => option => option === selectedOption
    },
    methods: {
      select(option) {
        this.set({ selectedOption: option });
      }
    }
  };
</script>


<style>
  .options {
    display: flex;
    flex-direction: column;
  }
  .option {
    font-size: 4rem;
    padding: 0.5rem;
    border: 3px solid transparent;
    border-radius: 1rem;
    cursor: pointer;
  }
  .selected {
    border-color: red;
  }
</style>
